APP_NAME=MyDocuHub
APP_ENV=production
APP_KEY=base64:ZgZqchUS71vojPTNXI+sXCWtDPrq3Fp0O4+SA0q88j0=
APP_DEBUG=false
APP_URL=https://ton-projet.onrender.com

LOG_CHANNEL=stderr
LOG_LEVEL=error

# PostgreSQL — copier les valeurs depuis le dashboard Render
DB_CONNECTION=pgsql
DB_HOST=ton-host.oregon-postgres.render.com
DB_PORT=5432
DB_DATABASE=mydocuhub_db_xxxx
DB_USERNAME=mydocuhub_db_xxxx
DB_PASSWORD=xxxxxxxxxxxx

FILESYSTEM_DISK=private

SESSION_DRIVER=database
SESSION_LIFETIME=120
CACHE_STORE=database
